<div class="vertical">
     	<div class="tabs">
     	  
            <%= link_to "Income",home_income_path %>
     	</div>
     	<div class="tabs">
     	  
            <%= link_to "Expenditures",home_expendituers_path %>
     	</div>
     	<div class="tabs">
            <%= link_to "Transactions",home_transaction_path %>
     	  
     	</div>
     	
</div>