<div class="signup_wrap">
  <div class="site_container">
   
     <%= render :partial => "sidebar" %>
     <div class="verticalside">
         <div class="addincome">
             <%= link_to "Add Expendituers",home_addexpenditures_path %>
         </div>
     </div>
   
  </div>
</div>
<div class="clear_fix"></div>