<div class="site_container jobsearch">
<div class="searchingfullwrap">
   <div class="searchexperience">
      <span class="heading">users</span>
   </div><!--searchexperience-->
    <ul class="searches_list">
     <li class="titlewrap">
      <div class="name" style="color:#335354; font-weight:bold;">Name</div>
      <div class="education" style="color:#335354; font-weight:bold;">income</div>
      <div class="skills" style="color:#335354; font-weight:bold;">Expenses</div>
      
      <div class="location" style="color:#335354; font-weight:bold;">Location</div>
      <div class="clear_fix"></div>
     </li>    
    <li>
      <div class="name">Yogendra Kumar</div>
      <div class="education">10,000</div>
      <div class="skills">5000</div>
      
      <div class="location">New Delhi</div>
      <div class="clear_fix"></div>
    </li>
    <li>
      <div class="name">Vishal Kumar</div>
      <div class="education">20,000</div>
      <div class="skills">10,000</div>
      
      <div class="location">New Delhi</div>
      <div class="clear_fix"></div>
    </li>
    <li>
      <div class="name">Surendra Reddy</div>
      <div class="education">70,000</div>
      <div class="skills">40000</div>
      
      <div class="location">New Delhi</div>
      <div class="clear_fix"></div>
    </li>
    </ul>
    <div class="viewmore"><a href="#">View More</a></div>
    </div>
   
  </div>
  <div class="clear_fix"></div>