<div class="signup_wrap">
  <div class="site_container">
   
     <%= render :partial => "sidebar" %>
     <div class="verticalside">
         
     </div>
   
  </div>
</div>
<div class="clear_fix"></div>